@import "common/base";
@import "common/mixins";

$left_shift: 2rem;
$base_fs: 16px;
$btn_size: 22px;
$lbtn_size: 30px;


html{
    font-size: 16px;
}

header{
    margin-left: $left_shift;
    text-align: center;
    a{
        color: $co_gray;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            color: $co_strong;
        }
    }
}

h1{
    padding: 0;
    margin-left: $left_shift;
}

ul{
    margin-left: $left_shift;
    margin-bottom: $left_shift;
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    li{
        margin: .5em 0;
        padding: 0;
    }
}

@include keyframes(slidein){
    from{
        width: 0;
    }
    to{
        width: 10em;
    }
}

@include keyframes(fadein){
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

button.ico_action, a.ico_action{
    text-align: center;
    text-decoration: none;
    border: none;
    box-sizing: content-box;
    background-color: transparent;
    color: $co_gray;
    font-weight: bold;
    padding: 0;
    font-size: rem($lbtn_size * 25px/31px);
    height: rem($lbtn_size);
    width: rem($lbtn_size);
    @include largescreen{
        font-size: rem($btn_size * 25px/31px);
        height: rem($btn_size);
        width: rem($btn_size);
    }
    outline: none;
    &:hover{
        background-color: $co_gray;
        color: $co_body_bg;
    }
    &:active{
        background-color: $co_strong;
        color: $co_body_bg;
    }
}

form.new_item_form{
    input, button{
        vertical-align: top;
    }

    button.ico_action[type=submit]{
        background-color: $co_darkest;
        color: $co_body_bg;
        &:hover{
            background-color: $co_strong;
        }
    }

    button.ico_action[disabled]{
        background-color: $co_gray;
        &:hover{
            background-color: $co_gray;
        }
    }

    input[name=title]{
        vertical-align: top;
        @include animation(300ms, slidein, ease-in-out);
        height: rem($lbtn_size);
        @include largescreen{
            height: rem($btn_size);
        }
        padding: 0 .5em;
        border: none;
        background-color: $co_darkest;
        color: $co_body_bg;
        outline: none;
        &:focus{
            background-color: $co_gray;
            color: $co_darkest;
        }
    }

    button.ico_action[type=reset]{
        @include animation(1000ms, fadein, linear);
    }
}

ul li{
    display: block;
    .rowitem{
        display: inline-block;
        padding: 0;
        margin: 0;
        vertical-align: top;
    }
    &> div{
        &:hover{
            .menu_icon, .btn_mark{
                opacity: 1;
            }
        }
    }
    .title{
        white-space: nowrap;
        cursor: default;
    }
    &.done{
        .title{
            text-decoration: line-through;
            color: $co_gray;
        }
    }
    .btn_mark{
        margin-left: 1em;
        display: none;
    }
    &.leaf:not(.done) .btn_mark{
        display: inline-block;
    }
    .btn_mark, .menu_icon{
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }
    .item_body{
        white-space: nowrap;
    }
    .spacer{
        width: 3 * $lbtn_size;
    }
}

ul li .menu{
    margin-left: rem($btn_size);
    .menu_icon{
        $icon_height: 0.8 * $btn_size;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        margin-top: rem(($btn_size - $icon_height) / 2);
        box-sizing: border-box;
        border-top: rem(2px) solid $co_gray;
        border-bottom: rem(2px) solid $co_gray;
        height: $icon_height;
        width: $btn_size;
        &:after{
            content: '';
            display: block;
            position: relative;
            z-index: 0;
            top: rem(($icon_height - 6px)/2);
            width: 100%;
            height: rem(2px);
            background-color: $co_gray;
        }
        &:hover{
            border-color: $co_darkest;
            &:after{
                background-color: $co_darkest;
            }
        }
    }
    .selected{
        opacity: 1;
    }
    .menu_items{
        float: left;
        width: 3 * $lbtn_size;
        height: 0;
        @include largescreen{
            width: 3 * $btn_size;
        }
    }
    .menu_item{
        border-left: rem(2px) solid $co_darkest;
        position: relative;
        z-index: 1;
        background-color: $co_body_bg;
        height: 1.5 * $lbtn_size;
        box-shadow: 30px 20px 0px rgba(0, 0, 0, .2);
        &:hover{
            box-shadow: 30px 20px 0px rgba(130, 0, 0, .2);
        }
        @include largescreen{
            height: 1.5 * $btn_size;
        }
        .ico_action{
            line-height: $lbtn_size;
        }
    }
    .dark{
        box-shadow: none;
        &:hover{
            box-shadow: none;
        }
        border: none;
        $size: 0.5 * $btn_size;
        background-color: transparent;
        height: $size;
    }
    .show{
        visibility: visible;
        opacity: 1;
    }
    form{
        height: 100%;
    }
    .ico_action{
        width: 100%;
        display: block;
        height: 100%;
        color: $co_darkest;
        &:hover{
            background-color: $co_strong;
            color: $co_body_bg;
        }
    }
}

footer{
    height: rem(200px);
}
